<div class="input-group input-group-lg">
	<input type="text" class="form-control" placeholder="type to search">
</div>
<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star"></span> Star
</button>
<h1>This is your Dashboard</h2>
<% if current_user.checks %>
	<h2><%= current_user.f_name %>'s outstanding checks:<h2>
	<ul>
	<% current_user.checks.each do |check| %>
	  <!-- the buttons for now can be click to edit check and change into complete -->
		<li>$<%= check.amount if check.complete == false %> from user <%= check.sender_id %></li><button type="button" class="btn btn-default">Paypal</button><button type="button" class="btn btn-default">Credit</button><button type="button" class="btn btn-default">Debit</button>
	<% end %>
	<!-- need functionality here to display completed checks, maybe a function to retrieve or cache completed and incomplete -->
	</ul>
	<% else %>
	<h2>You have no outstanding checks</h2>
<% end %>